body{
  background-color: black;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 90vh; 
  margin: 0
}

.HomePage a{
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color:gray;
  
}
.HomePage a:hover{
  color: black;
}
.HomePage{
    
  margin-top: 17%; 
  margin-left: 30%; 
  margin-right: 10%;
 
  
}
.HomePage button{
  margin: 10px;
  padding: 8px;
  width:120px;
 height: 40px;
 border-radius: 10px;
 border: none;
  color: gray;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
.HomePage button:hover,
.HomePage button:active{
  background-color: gray;
  color: black;
  box-shadow: gray 5px 5px;
}
.HomePage a:hover{
  color: black;
}

@media screen and (max-width: 640px) {
  .HomePage button{
 display: flex;
 flex-direction: row;
 margin:40px;
 align-items: center;
 justify-content: center;
 
 }
.HomePage{
  margin-top: 25%;
  margin-left: 20%;
   }
}
@media screen and (max-width: 930px) {
  .HomePage {
   width:100%;
   margin-left: 10%;
   margin-right: 10%;
     }
  }



  
