*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
body{
  background-color: #F4E1C1;
 }

.HomePage a{
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  color:#F4E1C1;
  font-weight: bold;
}


.Icon {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  overflow: hidden;
  
}

.Icon img {
  width:100%;
  height: 200px; 
  
   
  }
.leftIcon{
margin-right:850px;
}
.rightIcon {
  transform: rotate(90deg);
  margin-left:0px;
 
}
.SearchBar{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar{
  width: 500px;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding-left: 10px;
  font-size: 20px;
 
  
  
}
input {
  border:none;
  outline: none;
}
input:hover{
  cursor: pointer;
}
input:focus{
  outline: none;
  border-color: #754A4A;
}
input::placeholder{
  
  color:#F4E1C1
}
.searchIcon{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.searchIcon:hover{
  cursor: pointer;
 
}
.buttons{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.buttons button{
 width:250px;  
 margin-bottom: 10px;
 background-color: #5C4033;
 border: none;
 border-radius: 5px;
 padding: 5px;
}
.buttons button:hover{
  cursor: pointer;
  box-shadow:#5C4033 0px 0px 10px;
}
